NEXT_PUBLIC_NFT_STORAGE_KEY=
NEXT_PUBLIC_WALLET_PRIVATE_KEY=
export NEXT_PUBLIC_DAPP_ADDRESS=0xd03866045cf7b95a8f1abe65ea7db7fcc045489669ea6fef76fc6d7fddea86ce
export NEXT_PUBLIC_RESOURCE_ADDRESS=0xbe2250f80254c16a80ac1d22e2bca43f2c11c8b35179063567534cd8971e6d6e
export NEXT_PUBLIC_DAPP_NAME=ResourceWar
export NEXT_PUBLIC_MARKET_FEE_NUMERATOR=10
export NEXT_PUBLIC_MARKET_INITIAL_FUND=10000
export NEXT_PUBLIC_MARKET_COIN_TYPE=0x1::aptos_coin::AptosCoin
export NEXT_PUBLIC_APTOS_NODE_URL=https://fullnode.devnet.aptoslabs.com/v1/
export NEXT_PUBLIC_APTOS_FAUCET_URL=https://faucet.devnet.aptoslabs.com/v1/
export NEXT_PUBLIC_APTOS_NETWORK=testnet
NEXT_PUBLIC_SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
